#page > .c_container-fixed.cr {
  max-width: none;
}

#content {
  background: #FFF !important;
  padding: 0;
}

#content table.fixed > tbody > tr > td {
  padding: 0 !important;
  margin: 0;
}

.p-page {
  color: #000;
  font-family: "Gotham SSm A", "Gotham SSm B", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.p-page h1 {
  color: #AD0000;
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 20px;
}

.p-page h2 {
  color: #AD0000;
  font-weight: 700;
  font-size: 32px;
  margin-top: 1.25em;
  margin-bottom: 20px;
}

.p-page h3 {
  color: #252525;
  font-weight: 500;
  font-size: 18px;
}

.p-page h4 {
  color: #252525;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.p-page p {
  line-height: 1.5;
}

.p-page a {
  color: #AD0000;
  font-weight: 700;
}

.p-page select {
  padding: 5px;
  border-radius: 3px;
}

.p-page ol {
  margin-left: 45px;
  padding-left: 0;
}

.p-page ul {
  margin: 1em 0 1em 45px;
  padding-left: 0;
}

.p-page li {
  line-height: 1.5;
  padding-left: 0;
  margin-bottom: 0.25em;
}

.p-page .p-row {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 5px;
}

.p-page .p-col {
  flex: 1 0 0;
  max-width: 100%;
  padding: 0 20px;
  z-index: 1;
}

.p-page .p-section {
  margin: 1rem 0;
}

.p-page .p-mainrow {
  padding-bottom: 20px;
}

.p-page .p-maincol, .p-page .bs-12 {
  flex: 0 0 100%;
}

.p-page .callout {
  margin: 30px 0;
}

.p-page .callout-stripe {
  background-color: #FEBE10;
  width: 20px;
}

.p-page .callout-main {
  background-color: #FEBE1026;
  padding: 20px;
}

.p-page .p-update.callout {
  margin: 10px 0;
}

.p-page .p-update .callout-stripe {
  background-color: #9A1220;
  width: 20px;
}

.p-page .p-update .callout-main {
  background-color: #9A122026;
  padding: 20px;
}

.p-page .billboard {
  font-size: 20px;
  border: 1px dashed #AD0000;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.p-page .p-icontainer {
  height: 100%;
  margin-bottom: 20px;
}

.p-page .p-icontainer img {
  box-sizing: content-box;
  display: block;
  width: 100%;
  height: 100%;
  max-width: max-content;
  max-height: 40vh;
  margin: auto 0;
  object-fit: contain;
}

.p-page .light {
  font-weight: 300 !important;
}

.p-page .p-plh {
  line-height: 1.5;
}

.p-page .d-none {
  display: none;
}

.p-page #p-banner {
  position: relative;
}

.p-page #p-banner::before {
  content: "";
  position: absolute;
  background: url("/images/hum_quad.jpg") center/cover;
  opacity: 0.15;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (min-width: 576px) {
  .p-page .sm-3 {
    flex: 0 0 25%;
  }

  .p-page .p-table {
    padding: 0 20px;
  }

  .p-page .d-none-sm {
    display: none;
  }

  .p-page .d-initial-sm {
    display: initial;
  }

  .p-page .center-sm {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .p-page .md-6 {
    flex: 0 0 50%;
  }

  .p-page .t-center-md {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .p-page .p-maincol {
    flex: 1 0 0;
    padding: 0 45px;
  }

  .p-page .lg-4 {
    flex: 0 0 calc(100% / 3);
  }

  .p-page .lg-6 {
    flex: 0 0 50%;
  }

  .p-page #p-mc-secondary {
    position: relative;
    top: -100px;
  }
}

@media (min-width: 1200px) {
  .p-page .p-mainrow {
    width: 90vw;
    max-width: 1280px;
    margin: 0 auto;
  }

  .p-page .xl-3 {
    flex: 0 0 25%;
  }
}
